#page{
    background: #f2f2f2;
}
.font-h1{
    font-size: 70px;
    font-weight: bold;
    color:#000000;
    padding:100px 0 25px 50px;
}
.car-margin{
    margin: 80px 200px;
}
.height-100{
    height: 160px;
}
#page a{
    color:#000000;
    text-decoration: none;
    text-align: center;
    border:1px solid #000000;
    padding:17px 0;
}
#page a:hover{
    color:#333;
    border:1px solid #333;
}
#page div.sx{
    cursor: pointer;
    margin: 20px 200px;
    line-height: 72px;
    font-size:22px;
    color:#ffffff;
    height: 72px;
    background: #000;
}
#page div.row div img.xh{
    width:450px;
    position: absolute;
    left:-50px;
}
#page div.row div img.xhcar{
    width:700px;
    position: absolute;
    top:100px;
    left:-100px;
}