#header{
    width: 1200px;
    height: 100px;
    background:#ffffff;
}
#header ul li{
    margin: 0 8px;
    height: 50px;
}
#header ul li a{
    text-decoration: none;
    color:#000000;
    font-size: 14px;
}
#header ul li a:hover{
  color:#999;
}
.nav-hover{
    position: relative;
}
.nav-hover:hover .nav-nr{
    display: block;
}
.nav-nr{
    width: 200px;
    background: #fff;
    z-index: 999;
    position: absolute;
    display: none;
    top:25px;
    left:-10px;
}
#header ul li div ul li{
    border-bottom: 1px solid #ddd;
    margin: 0;
    line-height: 50px;
    padding:0 10px;
}
.nav-hover:hover .nav-carshow{
    display: block;
}
.nav-carshow{
    width:1200px;
    background: #fff;
    z-index: 999;
    position: absolute;
    display: none;
    top:25px;
    left:-10px;
}
